h1{
    text-align: center;
    font-size: 80px;
}

.Letters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 440px;
    margin: auto;
}


.Letter{
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 60px;
    border:  3px solid black;
}

.wrong{
    background-color: grey;
    color:  white;

}

.correct{
    background-color: green;
    color:  white;

}

.invalid{
    background-color: red;
    color:  white;

}

.wrong-position{
    background-color: yellow;
    color:  white;

}